header {
    background-color: bisque;
}


.geometry img {
    width: 90%;
    height: 190px;
    object-fit: contain;
    margin: 6px auto;
}

/* .geo_card .card:hover{
    background-color: bisque;
    transition: 0.3s;
} */